

<div class="right" >
    <mat-card   *ngFor="let book of books | async">
      <div class="book-info">
        <mat-card-title> {{book.title}} </mat-card-title>,
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
      </div>
      
      <mat-card-actions class="book-actions">
        <button (click)="deleteBook(book)" mat-button>DELETE</button>
        <button (click)="selectBook(book)" mat-button>SELECT</button>
      </mat-card-actions>
    </mat-card>

  <mat-card *ngIf="selectedBook">
    <mat-form-field class="example-full-width input-class">
      <mat-label>Book Title</mat-label>
      <input matInput [(ngModel)]="selectedBook.title">
    </mat-form-field>
    <mat-form-field class="example-full-width  input-class">
      <mat-label>Book Author</mat-label>
      <input matInput [(ngModel)]="selectedBook.author">
    </mat-form-field>

    <div class="button-row">
      <button mat-button (click)="updateBook()">Update the Book</button>
    </div>
  </mat-card>

</div>